[submodule "Packager"]
	path = Packager
	url = git://github.com/kamicane/packager.git
[submodule "Tests/Specs/Runner"]
	path = Tests/Specs/Runner
	url = git@github.com:quizlet/Mootools-Runner.git
[submodule "Tests/Specs/mootools-core"]
	path = Tests/Specs/mootools-core
	url = git@github.com:quizlet/mootools-core.git